@import "react-ref-extensions/src/styles/utils.css";

.Home {
  display: flex;
  flex-direction: column;

  &_section {
    margin: 2em 2em 0;
    max-width: 1260px;
    flex: 1 1 auto;
  }

  &_sectionFullScreen {
    margin: 0;
    flex: 0 0 auto;
  }
}
